// Custom variables for colors
$white: #ffffff;
$gray: #dcdcdc;
$matBlack: #171717;
$matDarkBlue: #5AA2F6;
$matLime: #80ed99;
$lightGray: #ececec;
$lightestGray: #ededed;
$nitroGray: #4B5563;
$matRed: #ff5348;
$darkestBlue: #161b22;
$darkestPurple: #271052;

$skyBlue: #f4f8ff;
$errorColor: #f44336;

// Status chip variables
$failedStatusBg: #fde2e1;
$failedStatusColor: #981b1c;
$successStatusBg: #def7ec;
$successStatusColor: #03543f;
$upcomingStatusBg: #fef3c7;
$upcomingStatusColor: #92400f;

// Table variables
$tableHeaderCellPadding: 15px 20px;
$tableCellPadding: 17px 20px;
