@import '../styles/variables';

.spx-header {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-bottom: 2px solid var(--border-color);
  background-color: var(--secondary-color);
  a {
    img {
      max-width: 250px;
    }
  }
  i {
    position: absolute;
    right: 40px;
    font-size: 30px;
    color: var(--theme-button-color);
    cursor: pointer;
  }
}
