<div class="details-container">
  <div class="details-header">
    <img [src]="data?.links?.patch?.small || 'http://via.placeholder.com/72'" alt="Logo" />
    <div class="details-heading-right">
      <div class="d-flex align-items-center">
        <h5 class="mr-2 mb-0">{{ data?.name || "N/A" }}</h5>
        <app-status-chip
          *ngIf="data?.success"
          status="success"
        ></app-status-chip>
        <app-status-chip
          *ngIf="data?.upcoming"
          status="upcoming"
        ></app-status-chip>
        <app-status-chip
          *ngIf="data?.failures?.length > 0"
          status="failed"
        ></app-status-chip>
      </div>
      <p>{{ data?.rocket?.name || "N/A" }}</p>
      <div class="details-link-icons">
        <i class=""></i>
        <i class=""></i>
        <i class=""></i>
      </div>
    </div>
  </div>
  <div class="details-description">
    <p class="mt-3 spx-font-medium">
      <ng-container *ngIf="data && data.details">
        {{ data.details }}. <a [href]="data.links.wikipedia" target="_blank">Wikipedia</a>
      </ng-container>
      <ng-container *ngIf="!data || !data.details">
        Not Available
      </ng-container>
    </p>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Flight Number</p>
    </div>
    <div class="col-7">
      <p>
          {{ data?.flight_number || "N/A" }}
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Mission Name</p>
    </div>
    <div class="col-7">
      <p>
          {{ data?.name || "N/A" }}
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Rocket Type</p>
    </div>
    <div class="col-7">
      <p>

          {{ data?.rocket?.engines?.type || 'N/A' }}

      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Rocket Name</p>
    </div>
    <div class="col-7">
      <p>
          {{ data?.rocket?.name || "N/A" }}
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Manufacturer</p>
    </div>
    <div class="col-7">
      <p>
          {{ data?.rocket?.company || "N/A" }}

      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Nationality</p>
    </div>
    <div class="col-7">
      <p>
          {{ data?.rocket?.company || "N/A" }}

      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Launch Date</p>
    </div>
    <div class="col-7">
      <p>
          {{ data?.date_utc | date: 'dd MMMM y \'at\' HH:mm' || "N/A" }}
        </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Payload Type</p>
    </div>
    <div class="col-7">
      <p>
          {{ data?.capsules[0]?.type || "N/A" }}
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Orbit</p>
    </div>
    <div class="col-7">
      <p>
          {{ data?.payloads[0]?.orbit || "N/A" }}
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Launch Site</p>
    </div>
    <div class="col-7">
      <p>
          {{ data?.launchpad?.name || "N/A" }}
      </p>
    </div>
  </div>
  <i class="material-icons close-icon spx-font-semi-bold" mat-dialog-close>close</i>
</div>
