<div class="details-container">
  <div class="details-header">
    <ng-container *ngIf="(this.loadingService.loading$ | async)">
      <ngx-skeleton-loader
        count="1"
        appearance="circle"
        [theme]="loaderTheme"
        class="image-loader"
      ></ngx-skeleton-loader>
    </ng-container>
    <img
      *ngIf="!(this.loadingService.loading$ | async)"
      [src]="data?.links?.patch?.small || 'http://via.placeholder.com/72'"
      alt="Logo"
    />
    <div class="details-heading-right">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="3"
          appearance="circle"
          [theme]="loaderTheme"
          class="heading-right-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <div
        *ngIf="!(this.loadingService.loading$ | async)"
        class="d-flex align-items-center"
      >
        <h5 class="mr-2 mb-0 details-title">{{ data?.name || "N/A" }}</h5>
        <app-status-chip
          *ngIf="data?.success"
          status="success"
        ></app-status-chip>
        <app-status-chip
          *ngIf="data?.upcoming"
          status="upcoming"
        ></app-status-chip>
        <app-status-chip
          *ngIf="data?.failures?.length > 0"
          status="failed"
        ></app-status-chip>
      </div>
      <p *ngIf="!(this.loadingService.loading$ | async)">
        {{ data?.rocket?.name || "N/A" }}
      </p>
      <div
        *ngIf="!(this.loadingService.loading$ | async)"
        class="details-link-icons"
      >
        <a
          *ngIf="data.links.article"
          [href]="data.links.article"
          target="_blank"
          class="spx-font-regular spx-font-semi-bold spx-nitro-gray mr-2"
          ><mat-icon
            svgIcon="icon-nasa"
            aria-hidden="false"
            aria-label="Nasa"
          ></mat-icon
        ></a>
        <a
          *ngIf="data.links.wikipedia"
          [href]="data.links.wikipedia"
          target="_blank"
          class="spx-font-regular spx-font-semi-bold spx-nitro-gray mr-2"
          ><mat-icon
            svgIcon="icon-wiki"
            aria-hidden="false"
            aria-label="Wiki"
          ></mat-icon
        ></a>
        <a
          *ngIf="data.links.webcast"
          [href]="data.links.webcast"
          target="_blank"
          class="spx-font-regular spx-font-semi-bold spx-nitro-gray"
          ><mat-icon
            svgIcon="icon-youtube"
            aria-hidden="false"
            aria-label="Nasa"
          ></mat-icon
        ></a>
      </div>
    </div>
  </div>
  <div class="details-description">
    <ng-container *ngIf="this.loadingService.loading$ | async">
      <ngx-skeleton-loader
        count="3"
        appearance="circle"
        [theme]="loaderTheme"
        class="description-loader"
      ></ngx-skeleton-loader>
    </ng-container>
    <p
      *ngIf="!(this.loadingService.loading$ | async)"
      class="mt-3 spx-font-medium"
    >
      <ng-container *ngIf="data && data.details">
        {{
          data.details.length > 300
            ? data.details.slice(0, 300) + "..."
            : data.details
        }}
        <a [href]="data.links.wikipedia" target="_blank">Wikipedia</a>
      </ng-container>
      <ng-container *ngIf="!data || !data.details">
        Not Available
      </ng-container>
    </p>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="left-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p
        *ngIf="!(this.loadingService.loading$ | async)"
        class="spx-font-semi-bold spx-nitro-gray"
      >
        Flight Number
      </p>
    </div>
    <div class="col-7">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="right-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p *ngIf="!(this.loadingService.loading$ | async)">
        {{ data?.flight_number || "N/A" }}
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="left-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p
        *ngIf="!(this.loadingService.loading$ | async)"
        class="spx-font-semi-bold spx-nitro-gray"
      >
        Mission Name
      </p>
    </div>
    <div class="col-7">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="right-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p *ngIf="!(this.loadingService.loading$ | async)">
        {{ data?.name || "N/A" }}
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="left-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p
        *ngIf="!(this.loadingService.loading$ | async)"
        class="spx-font-semi-bold spx-nitro-gray"
      >
        Rocket Type
      </p>
    </div>
    <div class="col-7">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="right-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p *ngIf="!(this.loadingService.loading$ | async)">
        {{ data?.rocket?.engines?.type || "N/A" }}
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="left-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p
        *ngIf="!(this.loadingService.loading$ | async)"
        class="spx-font-semi-bold spx-nitro-gray"
      >
        Rocket Name
      </p>
    </div>
    <div class="col-7">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="right-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p *ngIf="!(this.loadingService.loading$ | async)">
        {{ data?.rocket?.name || "N/A" }}
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="left-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p
        *ngIf="!(this.loadingService.loading$ | async)"
        class="spx-font-semi-bold spx-nitro-gray"
      >
        Manufacturer
      </p>
    </div>
    <div class="col-7">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="right-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p *ngIf="!(this.loadingService.loading$ | async)">
        {{ data?.rocket?.company || "N/A" }}
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="left-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p
        *ngIf="!(this.loadingService.loading$ | async)"
        class="spx-font-semi-bold spx-nitro-gray"
      >
        Nationality
      </p>
    </div>
    <div class="col-7">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="right-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p *ngIf="!(this.loadingService.loading$ | async)">
        {{ data?.rocket?.company || "N/A" }}
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="left-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p
        *ngIf="!(this.loadingService.loading$ | async)"
        class="spx-font-semi-bold spx-nitro-gray"
      >
        Launch Date
      </p>
    </div>
    <div class="col-7">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="right-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p *ngIf="!(this.loadingService.loading$ | async)">
        {{ data?.date_utc | date: "dd MMMM y 'at' HH:mm" || "N/A" }}
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="left-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p
        *ngIf="!(this.loadingService.loading$ | async)"
        class="spx-font-semi-bold spx-nitro-gray"
      >
        Payload Type
      </p>
    </div>
    <div class="col-7">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="right-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p *ngIf="!(this.loadingService.loading$ | async)">
        {{ data?.capsules[0]?.type || "N/A" }}
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="left-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p
        *ngIf="!(this.loadingService.loading$ | async)"
        class="spx-font-semi-bold spx-nitro-gray"
      >
        Orbit
      </p>
    </div>
    <div class="col-7">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="right-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p *ngIf="!(this.loadingService.loading$ | async)">
        {{ data?.payloads[0]?.orbit || "N/A" }}
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="left-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p
        *ngIf="!(this.loadingService.loading$ | async)"
        class="spx-font-semi-bold spx-nitro-gray"
      >
        Launch Site
      </p>
    </div>
    <div class="col-7">
      <ng-container *ngIf="this.loadingService.loading$ | async">
        <ngx-skeleton-loader
          count="1"
          [theme]="loaderTheme"
          class="right-field-loader"
        ></ngx-skeleton-loader>
      </ng-container>
      <p *ngIf="!(this.loadingService.loading$ | async)">
        {{ data?.launchpad?.name || "N/A" }}
      </p>
    </div>
  </div>
  <i class="material-icons close-icon spx-font-semi-bold" mat-dialog-close
    >close</i
  >
</div>
