<div class="details-container">
  <div class="details-header">
    <img [src]="data.links.patch.small" alt="Logo" />
    <div class="details-heading-right">
      <div class="d-flex align-items-center">
        <h5 class="mr-2 mb-0">{{ data.name }}</h5>
        <app-status-chip
          *ngIf="data.success"
          status="success"
        ></app-status-chip>
        <app-status-chip
          *ngIf="data.upcoming"
          status="upcoming"
        ></app-status-chip>
        <app-status-chip
          *ngIf="data.failures.length > 0"
          status="failed"
        ></app-status-chip>
      </div>
      <p>{{ data.rocket.name }}</p>
      <div class="details-link-icons">
        <i class=""></i>
        <i class=""></i>
        <i class=""></i>
      </div>
    </div>
  </div>
  <div class="details-description">
    <p class="mt-3 spx-font-medium">
      <ng-container *ngIf="data && data.details">
        {{ data.details }}. <a [href]="data.links.wikipedia" target="_blank">Wikipedia</a>
      </ng-container>
      <ng-container *ngIf="!data || !data.details">
        Not Available
      </ng-container>
    </p>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Flight Number</p>
    </div>
    <div class="col-7">
      <p>
        <ng-container *ngIf="true">
          {{ data.flight_number }}
        </ng-container>
        <ng-container *ngIf="!data || !data.flight_number"> N/A </ng-container>
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Mission Name</p>
    </div>
    <div class="col-7">
      <p>
        <ng-container *ngIf="data && data.name">
          {{ data.name }}
        </ng-container>
        <ng-container *ngIf="!data || !data.name"> N/A </ng-container>
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Rocket Type</p>
    </div>
    <div class="col-7">
      <p>
        <ng-container
          *ngIf="
            data &&
            data.rocket &&
            data.rocket.engines &&
            data.rocket.engines.type
          "
        >
          {{ data.rocket.engines.type }}
        </ng-container>
        <ng-container
          *ngIf="
            !data ||
            !data.rocket ||
            !data.rocket.engines ||
            !data.rocket.engines.type
          "
        >
          N/A
        </ng-container>
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Rocket Name</p>
    </div>
    <div class="col-7">
      <p>
        <ng-container *ngIf="data && data.rocket && data.rocket.name">
          {{ data.rocket.name }}
        </ng-container>
        <ng-container *ngIf="!data || !data.rocket || !data.rocket.name">
          N/A
        </ng-container>
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Manufacturer</p>
    </div>
    <div class="col-7">
      <p>
        <ng-container *ngIf="data && data.rocket && data.rocket.company">
          {{ data.rocket.company }}
        </ng-container>
        <ng-container *ngIf="!data || !data.rocket || !data.rocket.company">
          N/A
        </ng-container>
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Nationality</p>
    </div>
    <div class="col-7">
      <p>
        <ng-container *ngIf="data && data.rocket && data.rocket.company">
          {{ data.rocket.company }}
        </ng-container>
        <ng-container *ngIf="!data || !data.rocket || !data.rocket.company">
          N/A
        </ng-container>
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Launch Date</p>
    </div>
    <div class="col-7">
      <p>
        <ng-container *ngIf="data && data.date_utc">
          {{ data.date_utc | date: 'dd MMMM y \'at\' HH:mm' }}
        </ng-container>
        <ng-container *ngIf="!data || !data.date_utc"> N/A </ng-container>
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Payload Type</p>
    </div>
    <div class="col-7">
      <p>
        <ng-container
          *ngIf="
            data && data.capsules && data.capsules[0] && data.capsules[0].type
          "
        >
          {{ data.capsules[0].type }}
        </ng-container>
        <ng-container
          *ngIf="
            !data ||
            !data.capsules ||
            !data.capsules[0] ||
            !data.capsules[0].type
          "
        >
          N/A
        </ng-container>
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Orbit</p>
    </div>
    <div class="col-7">
      <p>
        <ng-container *ngIf="data && data.payloads && data.payloads[0].orbit">
          {{ data.payloads[0].orbit }}
        </ng-container>
        <ng-container
          *ngIf="!data || !data.payloads || !data.payloads[0].orbit"
        >
          N/A
        </ng-container>
      </p>
    </div>
  </div>
  <div class="row detail-fields">
    <div class="col-5">
      <p class="spx-font-semi-bold spx-nitro-gray">Launch Site</p>
    </div>
    <div class="col-7">
      <p>
        <ng-container *ngIf="data && data.launchpad && data.launchpad.name">
          {{ data.launchpad.name }}
        </ng-container>
        <ng-container *ngIf="!data || !data.launchpad || !data.launchpad.name">
          N/A
        </ng-container>
      </p>
    </div>
  </div>
  <i class="material-icons close-icon spx-font-semi-bold" mat-dialog-close>close</i>
</div>
