<div>
  <app-spx-header></app-spx-header>
  <section class="table-container">
    <app-simple-select [selectOptions]="launchFilters" (onSelected)="onSelectedOption($event)"></app-simple-select>
    <app-spx-table [data]="allLaunches"></app-spx-table>
    <pagination
      class="spx-pagination"
      [totalItems]="bigTotalItems"
      [(ngModel)]="bigCurrentPage"
      [boundaryLinks]="true"
      [maxSize]="maxSize"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    ></pagination>
  </section>
</div>
