<div>
  <app-spx-header></app-spx-header>
  <section class="table-container">
    <div class="d-flex justify-content-end mb-3">
      <app-simple-select
        [selectOptions]="launchFilters"
        (onSelected)="onSelectedOption($event)"
      ></app-simple-select>
    </div>
    <app-spx-table
      [tableHeaders]="tableHeaders"
      [data]="launchesPerPage"
    ></app-spx-table>
    <pagination
      class="spx-pagination"
      [totalItems]="totalItems"
      [(ngModel)]="currentPage"
      [boundaryLinks]="true"
      [maxSize]="maxSize"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
      (pageChanged)="pageChanged($event)"
    ></pagination>
  </section>
</div>
