@import "./styles/variables";
@import "./styles/mixins";

.app-container {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.table-container {
  max-width: 70%;
  width: 100%;
  margin: 40px auto;
}

.filters-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  .date-picker-container {
    .date-picker {
      border: none;
      cursor: pointer;
      height: 100%;
      padding-left: 30px;
      width: 250px;
      background-color: var(--primary-color);
      color: var(--text-color);
      font-weight: 600;
      &:focus {
        outline: none;
      }
    }
    .date-range-icon {
      color: var(--text-color);
      position: absolute;
      left: 0;
      top: 9px;
      cursor: pointer;
      font-size: 22px;
    }
    .arrow-down-icon {
      color: var(--text-color);
      position: absolute;
      top: 11px;
      cursor: pointer;
      font-size: 22px;
    }
  }
}

::ng-deep .md-drppicker.shown {
  top: 54px !important;
  border-radius: 6px;
  padding-bottom: 9px;
  background-color: var(--cdk-element-color);
  .buttons {
    margin: 0 15px 5px 0;
    &::after {
      content: " ";
      width: 100%;
      height: 1px;
      background-color: $gray;
      position: absolute;
      bottom: 66px;
      left: 0;
    }
    .buttons_input {
      button {
        margin-top: 18px;
        font-size: 14px;
        font-weight: bold;
        box-shadow: none;
        padding: 0 18px;
        border-radius: 6px;
        background-color: $matDarkBlue;
        color: var(--text-color);
        border: 1px solid var(--border-color);
        @include transition(box-shadow 0.3s ease);
        &:hover {
          box-shadow: 0 0 3px 0px var(--box-shadow-color);
        }
        &.clear {
          position: absolute;
          left: 15px;
          color: $errorColor;
          svg {
            display: none;
          }
        }
        &:first-child {
          background-color: $matRed !important;
          color: $white;
        }
        &:nth-child(2) {
          margin-right: 13px;
          background-color: var(--calendar-background);
        }
        &:last-child {
          color: $white;
        }
      }
    }
  }
  .ranges {
    margin-top: 14px;
    margin-right: 5px;
    padding: 2px 0 4px 13px;
    border-right: 1px solid $gray;
    ul {
      li {
        button {
          font-size: 14px;
          font-weight: 700;
          min-width: 150px;
          color: var(--text-color);
        }
        button.active {
          background-color: $matDarkBlue;
          min-height: 45px;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          font-size: 16px;
        }
        &:hover {
          background-color: var(--calendar-hover);
        }
      }
    }
  }
  .calendar {
    .calendar-table {
      background-color: var(--calendar-background);
      border-color: var(--calendar-border);
      box-shadow: 0 0 3px 0px var(--box-shadow-color);
      border-radius: 10px;
      table {
        border-collapse: separate;
        tr {
          th {
            span  {
              color: var(--text-color);
            }
          }
          td {
            span {
              color: var(--text-color);
            }
            height: 35px;
            width: 35px;
            border-radius: 20px;
            &:hover {
              background-color: var(--calendar-hover);
            }
          }
          td.active.start-date,
          td.active.end-date {
            background-color: $matLime;
            color: $matBlack;
            font-weight: 600;
          }
          td.in-range {
            font-weight: bold;
            background-color: rgba($color: $matLime, $alpha: 0.2);
          }
          td.available.off, td.available.off.weekend {
            background-color: var(--primary-color);
            &:hover {
              background-color: var(--calendar-hover);
            }
          }
        }
      }
    }
  }
}

::ng-deep .spx-pagination {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  .page-item .page-link {
    color: var(--text-color);
    background-color: var(--secondary-color);
    padding: 11px 15px;
  }

  .page-item.active .page-link {
    background-color: $matDarkBlue;
    border-color: $white;
  }

  .page-item:first-child {
    .page-link {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }
  .page-item:last-child {
    .page-link {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
