@import "../../../styles/variables";

::ng-deep .mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  &:focus {
    outline: none;
  }
  padding: 3px 10px;
  padding-left: 0;
  font-size: 16px;
  font-weight: 600;
  i {
    &:first-child {
      margin-bottom: 3px;
      margin-right: 2px;
    }
    &:last-child {
      margin-left: 2px;
    }
    font-size: 20px;
  }
}

::ng-deep .simple-select-menu {
  button:focus {
    outline: none;
  }
  &.mat-menu-panel {
    border: 1px solid $gray;
    box-shadow: 0 0 3px 0px $gray;
  }
  .mat-menu-content {
    &:not(:empty) {
      padding-top: 0;
      padding-bottom: 0;
    }
    .mat-menu-item {
      line-height: 45px;
      height: 45px;
      font-family: 'Nunito Sans', 'Helvetica Neue, Helvetica, Arial', sans-serif;
      font-weight: 600;
    }
  }
}
