<form class="filters-container">
  <mat-form-field appearance="fill">
    <mat-label>Toppings</mat-label>
    <mat-select multiple>
      <!-- <mat-select-trigger>
        {{toppings.value ? toppings.value[0] : ''}}
        <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
          (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger> -->
      <mat-option [value]="'something'">All Launches</mat-option>
      <mat-option [value]="'something'">Upcoming Launches</mat-option>
      <mat-option [value]="'something'">Successful Launches</mat-option>
      <mat-option [value]="'something'">Failed Launches</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Toppings</mat-label>
    <mat-select multiple>
      <!-- <mat-select-trigger>
        {{toppings.value ? toppings.value[0] : ''}}
        <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
          (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger> -->
      <mat-option [value]="'something'">All Launches</mat-option>
      <mat-option [value]="'something'">Upcoming Launches</mat-option>
      <mat-option [value]="'something'">Successful Launches</mat-option>
      <mat-option [value]="'something'">Failed Launches</mat-option>
    </mat-select>
  </mat-form-field>
</form>
