@import "../../styles/variables";
@import "../../styles/mixins";

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: $white;
  border: 1px solid $gray;
  box-shadow: 0 0 3px 0px $gray;
  border-radius: 8px;
  border-collapse: separate;
  thead,
  tbody,
  tfoot {
    tr {
      @include transition(all 0.3s ease);
      th,
      td {
        text-align: left;
        padding: $tableCellPadding;
        vertical-align: top;
        border-top: 0;
        transition: transition(all 0.3s ease);
      }
      th {
        font-weight: 600;
        padding: $tableHeaderCellPadding;
        &:first-child {
          width: 50px;
        }
        &:nth-child(2) {
          width: 350px;
        }
        &:nth-child(3) {
          width: 220px;
        }
      }
    }
  }
  thead {
    background-color: $lightestGray;
    border-color: $lightGray;
  }
  thead > tr > th {
    vertical-align: bottom;
  }
}

tbody {
  transition: transition(all 0.1s ease);
  tr:hover {
    cursor: pointer;
    td:first-child {
      border-left: 5px solid $matDarkBlue;
      border-radius: 4px;
    }
    background-color: rgba($skyBlue, 0.4);
  }
}

table,
thead,
tbody,
tfoot {
  border-spacing: unset;
  tr {
    td:nth-child(1), th:nth-child(1) {
      max-width: 90px;
    }
  }
}

.no-data {
  height: 700px;
  // pointer-events: none;
  td {
    text-align: center;
    padding-top: 30px;
    &:hover {
      border: none;

    }
  }
}

.table thead .no-data th,
.table thead .no-data td,
.table tbody .no-data th,
.table tbody .no-data td,
.table tfoot .no-data th,
.table tfoot .no-data td {
  text-align: center;
  padding-top: 30px;
  &:hover {
    background-color: transparent;
    border: none;
  }
}

.header-pointer {
  cursor: pointer;
}
