@import "../../styles/variables";
@import "../../styles/mixins";

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: $white;
  border: 1px solid $gray;
  box-shadow: 0 0 3px 0px $gray;
  border-radius: 5px;
  thead,
  tbody,
  tfoot {
    tr {
      @include transition(all 0.3s ease);
      th,
      td {
        text-align: left;
        padding: $tableCellPadding;
        vertical-align: top;
        border-top: 0;
        transition: transition(all 0.3s ease);
      }
      th {
        padding: $tableHeaderCellPadding;
      }
    }
  }
  thead {
    background-color: $lightestGray;
    border-color: $lightGray;
  }
  thead > tr > th {
    font-weight: $tableHeaderFontWeight;
    color: $tableHeaderFontColor;
    vertical-align: bottom;
  }
}

tbody {
  transition: transition(all 0.1s ease);
  tr:hover {
    td:first-child {
      border-left: 5px solid $matDarkBlue;
      border-radius: 4px;
    }
    background-color: rgba($skyBlue, 0.4);
  }
}

table,
thead,
tbody,
tfoot {
  border-spacing: unset;
}
