<!-- Table starts here -->
<table id="table" class="table">
  <thead>
    <tr>
      <th *ngFor="let item of tableHeaders">{{ item }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="data.length <= 0">
      <tr class="no-data">
        <td [attr.colspan]="tableHeaders.length" rowspan="10">
          <span class="spx-font-regular spx-font-semi-bold spx-nitro-gray">No results found in the specified filter</span>
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf="data">
      <tr *ngFor="let item of data; let i = index" (click)="openDialog(item)">
        <td *ngIf="this.loadingService.loading$ | async">
          <ngx-skeleton-loader
            count="1"
            appearance="line"
            [theme]="loaderTheme"
          ></ngx-skeleton-loader>
        </td>
        <td *ngIf="!(this.loadingService.loading$ | async)">{{ i + 1 }}</td>
        <td *ngIf="this.loadingService.loading$ | async">
          <ngx-skeleton-loader
            count="1"
            appearance="line"
            [theme]="loaderTheme"
          ></ngx-skeleton-loader>
        </td>
        <td *ngIf="!(this.loadingService.loading$ | async)">
          {{ item?.date_utc | date: "dd MMMM y 'at' HH:mm" || "N/A" }}
        </td>
        <td *ngIf="this.loadingService.loading$ | async">
          <ngx-skeleton-loader
            count="1"
            appearance="line"
            [theme]="loaderTheme"
          ></ngx-skeleton-loader>
        </td>
        <td *ngIf="!(this.loadingService.loading$ | async)">
          {{ item?.launchpad.name || "N/A" }}
        </td>
        <td *ngIf="this.loadingService.loading$ | async">
          <ngx-skeleton-loader
            count="1"
            appearance="line"
            [theme]="loaderTheme"
          ></ngx-skeleton-loader>
        </td>
        <td *ngIf="!(this.loadingService.loading$ | async)">
          {{ item?.name || "N/A" }}
        </td>
        <td *ngIf="this.loadingService.loading$ | async">
          <ngx-skeleton-loader
            count="1"
            appearance="line"
            [theme]="loaderTheme"
          ></ngx-skeleton-loader>
        </td>
        <td *ngIf="!(this.loadingService.loading$ | async)">
          {{ item?.payloads[0]?.orbit || "N/A" }}
        </td>
        <td *ngIf="this.loadingService.loading$ | async">
          <ngx-skeleton-loader
            count="1"
            appearance="line"
            [theme]="loaderTheme"
          ></ngx-skeleton-loader>
        </td>
        <td
          *ngIf="
            item?.failures?.length > 0 &&
            !(this.loadingService.loading$ | async)
          "
        >
          <app-status-chip [status]="'failed'"></app-status-chip>
        </td>
        <td *ngIf="item?.upcoming && !(this.loadingService.loading$ | async)">
          <app-status-chip [status]="'upcoming'"></app-status-chip>
        </td>
        <td *ngIf="item?.success && !(this.loadingService.loading$ | async)">
          <app-status-chip [status]="'success'"></app-status-chip>
        </td>
        <td *ngIf="this.loadingService.loading$ | async">
          <ngx-skeleton-loader
            count="1"
            appearance="line"
            [theme]="loaderTheme"
          ></ngx-skeleton-loader>
        </td>
        <td *ngIf="!(this.loadingService.loading$ | async)">
          {{ item?.rocket?.name || "N/A" }}
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
