<!-- Table starts here -->
<table id="table" class="table">
  <thead>
    <tr>
      <th>No:</th>
      <th>Launched (UTC)</th>
      <th>Location</th>
      <th>Mission</th>
      <th>Orbit</th>
      <th>Launch Status</th>
      <th>Rockets</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-title="ID">1</td>
      <td data-title="Name">Material Design Color Palette</td>
      <td data-title="Link">
        <a
          href="https://github.com/zavoloklom/material-design-color-palette"
          target="_blank"
          >GitHub</a
        >
      </td>
      <td data-title="Status">Completed</td>
      <td data-title="Status">Completed</td>
      <td data-title="Status">
        <app-status-chip [status]="'upcoming'"></app-status-chip>
      </td>
      <td data-title="Status">Completed</td>
    </tr>
  </tbody>
</table>
