<!-- Table starts here -->
<table id="table" class="table">
  <thead>
    <tr>
      <th *ngFor="let item of tableHeaders"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data; let i = index;">
      <td>{{i+1}}</td>
      <td>{{(item?.date_utc | date: 'dd MMMM y \'at\' HH:mm')}}</td>
      <td>{{item?.launchpad.name}}</td>
      <td>{{item?.name}}</td>
      <td>{{item?.payloads[0]?.orbit}}</td>
      <td *ngIf="item?.failures.length > 0">
        <app-status-chip [status]="'failed'"></app-status-chip>
      </td>
      <td *ngIf="item?.upcoming">
        <app-status-chip [status]="'upcoming'"></app-status-chip>
      </td>
      <td *ngIf="item?.success">
        <app-status-chip [status]="'success'"></app-status-chip>
      </td>
      <td>{{item?.rocket?.name}}</td>
    </tr>
  </tbody>
</table>
